*{
            margin: 0;
            padding: 0;
        }
        table {
            border: 3px solid black;
            border-collapse: collapse;
            width: 95%;
        }
        td, th {
            border: 1px solid black;
            padding: 5px 10px;
            font-size: 21px;
            text-align: center;
        }
        th {
            background-color: rgb(11, 148, 153);
            color: white;
        }
        form {
            margin-bottom: 20px;
            margin-top: 2%;
            font-size: 25px;
        }
        #navhome{
            top: 0;
            position: sticky;
            height: 11vh;
            display: flex;
            background-color:rgb(11, 148, 153);
            color: white;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
        }
        .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
        }
        .btn-primary {
            margin-left: 1%;
            padding: 4px 15px;
            border-radius: 5px;
            background-color: rgb(11, 148, 153);
            font-size: 17px;
            font-weight: bolder;
            cursor: pointer;
            color: white;
            font-family: Sitka;
        }
        .btn-primary:hover {
            background-color: #fff;
            color: rgb(11, 148, 153);
            border-color: rgb(11, 148, 153);
            transition: all 0.5s;
        }
        .btn-primary1 {
            padding: 4px 15px;
            border-radius: 5px;
            background-color: rgb(11, 148, 153);
            font-size: 17px;
            font-weight: bolder;
            cursor: pointer;
            color: white;
            font-family: Sitka;
        }
        .success-message, .error-message{
            color: rgb(2, 155, 104);
            font-size: 22px;
            margin: 20px;
            transition: opacity 1s ease-out;
            opacity: 1;
        }
        .error-message{
            color: red;
        }
        #action1{
            height: 25px;
            width: 55px;
            font-size: 19px;
            font-family: Sitka;
            border-width: 1px;
            border-color: black;
            border-radius: 3px;
        }
        #action2{
            height: 25px;
            width: 75px;
            font-size: 19px;
            font-family: Sitka;
            border-width: 1px;
            border-color: black;
            border-radius: 3px;
        }
        .order-option.hidden {
            display: none;
        }
        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #input1 {
            height: 30px;
            width: 280px;
            border-radius: 5px;
            text-align: center;
            margin-right: 5px;
        }

        #searchlogo {
            cursor: pointer;
            border: 2px solid white;
            border-radius: 4px;
            padding: 2px;
            background-color: rgb(11, 148, 153);
            color: white;
        }

        #Userlogo{
            cursor: pointer;
            font-size: 35px;
        }